.cart__basket
  .cart__basket-imgwrap
    img.cart__basket-img(src='https://datapod.devboto.website/uploads/cache/product/30/244x342_Vaporlax-Nano-Banana-Ice-1.jpg', alt='VAPORLAX - ICE BANANA - 400 puff', title='VAPORLAX - ICE BANANA - 400 puff', width='50')
  .cart__basket-content
    .cart__basket-name
      a(href='/product/vaporlax-ice-banana-300')
        | VAPORLAX - ICE BANANA - 400 puff
      .cabinet-body__favorite-delete.del-item(data-id='13')
        span.cabinet-body__favorite-text Удалить
        span.cabinet-body__favorite-cross
    .cart__basket-info
      .info-wrap
        p(style='color: lightgrey') Код товара: 13
        .btn-toolbar.d-flex.align-items-center(role='toolbar')
          .btn-group.d-flex.align-items-center.mr-2(role='group')
            button.minus-modal.minus(type='button', data-id='13') -
            input.input_qty.input_qty_13(type='text', size='3', value='1', data-id='13')
            button.plus-modal.plus(type='button', data-id='13') +
      .price-wrap

        span.price_total.price_item_total_modal_13 15 000,00 ₴
