
.filter

  .filter__header
    //form#w0(action='/catalog', method='get')
    //  #slider_price
    //  .slider_price-wrap
    //    #price_from.field-productmodsearch-price_from.validating
    //      input#productmodsearch-price_from.price_from.text-center.is-valid(type='text', name='ProductModSearch[price_from]', value='15000', aria-invalid='false')
    //      .invalid-feedback
    //    #price_to.field-productmodsearch-price_to
    //      input#productmodsearch-price_to.price_to.text-center(type='text', name='ProductModSearch[price_to]', value='45000')
    //      .invalid-feedback
    button.base-button.btn--dark#button_search Фильтровать
  .filter__items
    .custom-control-wrap
      p test1
      .custom-control.custom-checkbox
        input#f-1.custom-control-input.attribute_value.test1(type='checkbox', data-aid='21', data-attribute='test1', value='1')
        label.custom-control-label(for='f-1')
          | t2
    .custom-control-wrap
      p Бренд
      .custom-control.custom-checkbox
        input#f-2.custom-control-input.attribute_value.brand(type='checkbox', data-aid='22', data-attribute='brand', value='2')
        label.custom-control-label(for='f-2')
          | Vaporlax
    .custom-control-wrap
      p Крепость
      .custom-control.custom-checkbox
        input#f-3.custom-control-input.attribute_value.krepost(type='checkbox', data-aid='23', data-attribute='krepost', value='3')
        label.custom-control-label(for='f-3')
          | 50mg
    .custom-control-wrap
      p Вкус
      .custom-control.custom-checkbox
        input#f-4.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='4')
        label.custom-control-label(for='f-4')
          | PEACH MANGO WATERMELON
      .custom-control.custom-checkbox
        input#f-6.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='6')
        label.custom-control-label(for='f-6')
          | ICE BANANA
      .custom-control.custom-checkbox
        input#f-12.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='12')
        label.custom-control-label(for='f-12')
          | ICE MANGO
      .custom-control.custom-checkbox
        input#f-13.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='13')
        label.custom-control-label(for='f-13')
          | CRUSH GRAPE
      .custom-control.custom-checkbox
        input#f-14.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='14')
        label.custom-control-label(for='f-14')
          | BLUE RAZZ
      .custom-control.custom-checkbox
        input#f-16.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='16')
        label.custom-control-label(for='f-16')
          | PINEAPPLE ICE
      .custom-control.custom-checkbox
        input#f-17.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='17')
        label.custom-control-label(for='f-17')
          | COOL MINT
      .custom-control.custom-checkbox
        input#f-18.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='18')
        label.custom-control-label(for='f-18')
          | LUSH ICE
      .custom-control.custom-checkbox
        input#f-20.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='20')
        label.custom-control-label(for='f-20')
          | PINK LEMONADE
      .custom-control.custom-checkbox
        input#f-22.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='22')
        label.custom-control-label(for='f-22')
          | LYCHEE
      .custom-control.custom-checkbox
        input#f-23.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='23')
        label.custom-control-label(for='f-23')
          | ORANGE SODA
      .custom-control.custom-checkbox
        input#f-25.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='25')
        label.custom-control-label(for='f-25')
          | STRAWBERRY ICE CREAM
      .custom-control.custom-checkbox
        input#f-26.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='26')
        label.custom-control-label(for='f-26')
          | PINEAPPLE LEMONADE
      .custom-control.custom-checkbox
        input#f-27.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='27')
        label.custom-control-label(for='f-27')
          | DOUBLE APPLE
      .custom-control.custom-checkbox
        input#f-29.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='29')
        label.custom-control-label(for='f-29')
          | ICE COLA
      .custom-control.custom-checkbox
        input#f-30.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='30')
        label.custom-control-label(for='f-30')
          | TROPICAL PUNCH
      .custom-control.custom-checkbox
        input#f-31.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='31')
        label.custom-control-label(for='f-31')
          | STRAWBERRY BANANA
      .custom-control.custom-checkbox
        input#f-33.custom-control-input.attribute_value.vkus(type='checkbox', data-aid='24', data-attribute='vkus', value='33')
        label.custom-control-label(for='f-33')
          | ENERGY DRINK
    .custom-control-wrap
      p Количество тяг
      .custom-control.custom-checkbox
        input#f-5.custom-control-input.attribute_value.kolicestvo-tag(type='checkbox', data-aid='25', data-attribute='kolicestvo-tag', value='5')
        label.custom-control-label(for='f-5')
          | 800
      .custom-control.custom-checkbox
        input#f-7.custom-control-input.attribute_value.kolicestvo-tag(type='checkbox', data-aid='25', data-attribute='kolicestvo-tag', value='7')
        label.custom-control-label(for='f-7')
          | 1500
      .custom-control.custom-checkbox
        input#f-15.custom-control-input.attribute_value.kolicestvo-tag(type='checkbox', data-aid='25', data-attribute='kolicestvo-tag', value='15')
        label.custom-control-label(for='f-15')
          | 300
      .custom-control.custom-checkbox
        input#f-34.custom-control-input.attribute_value.kolicestvo-tag(type='checkbox', data-aid='25', data-attribute='kolicestvo-tag', value='34')
        label.custom-control-label(for='f-34')
          | 400
    .custom-control-wrap
      p послевкусие
      .custom-control.custom-checkbox
        input#f-8.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='8')
        label.custom-control-label(for='f-8')
          | сладкий
      .custom-control.custom-checkbox
        input#f-11.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='11')
        label.custom-control-label(for='f-11')
          | кислый, нейтральный
      .custom-control.custom-checkbox
        input#f-19.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='19')
        label.custom-control-label(for='f-19')
          | нейтральный, сладкий
      .custom-control.custom-checkbox
        input#f-21.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='21')
        label.custom-control-label(for='f-21')
          | напиток, кислый, нейтральный
      .custom-control.custom-checkbox
        input#f-24.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='24')
        label.custom-control-label(for='f-24')
          | кисло-сладкий
      .custom-control.custom-checkbox
        input#f-28.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='28')
        label.custom-control-label(for='f-28')
          | напиток, сладкий, нейтральный
      .custom-control.custom-checkbox
        input#f-32.custom-control-input.attribute_value.poslevkusie(type='checkbox', data-aid='26', data-attribute='poslevkusie', value='32')
        label.custom-control-label(for='f-32')
          | кислый
    .custom-control-wrap
      p температура тяги
      .custom-control.custom-checkbox
        input#f-9.custom-control-input.attribute_value.temperatura-tagi(type='checkbox', data-aid='27', data-attribute='temperatura-tagi', value='9')
        label.custom-control-label(for='f-9')
          | холодный
      .custom-control.custom-checkbox
        input#f-10.custom-control-input.attribute_value.temperatura-tagi(type='checkbox', data-aid='27', data-attribute='temperatura-tagi', value='10')
        label.custom-control-label(for='f-10')
          | не холодный
  div(hidden='')
    #price_min_range 15000
    #price_max_range 45000

