include ../../templates/devices/iphone-x

section.main-chatbot
  .container
    .main-chatbot__content
      .main-chatbot__description
        h2 чат-бот для удобного заказа прямо с мессенджера
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        .main-chatbot__buttons
          a.base-button.btn--dark.main-chatbot__btn(href=`telegram`) telegram
            a.base-button.btn--dark.main-chatbot__btn(href=`viber`) viber
      .main-chatbot__phones
        +iphoneX('product/bg1.png')
        +iphoneX('product/bg1.png')
