.main-catalog {

  .item-card {
    @include breakpoint($desktop__all) {
      @for $i from 1 through 11 {
        &:nth-of-type(#{$i}) {
          grid-area: i#{$i}
        }
      }
    }

    @include ie11() {
      width: auto;
      height: auto;
      &__img {
        &--base, &--hover, {
          width: auto;
        }
      }
    }
  }
}
